<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Edit Your Post</h1>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
      <p><strong>Post ID:</strong> <%= post.id %></p>
      <p><strong>Username:</strong> @<%= post.username %></p>
      <textarea rows="10" name="content"><%= post.content %></textarea>
      <button type="submit">Save Changes</button>
    </form>
    <div style="text-align: center;">
      <a href="/posts/<%= post.id %>">Cancel</a>
    </div>
  </body>
</html>
